<% assign_meta_tags title: "ダッシュボード" %>

<h1>ダッシュボード</h1>

<p>あなたが参加する上映会はコチラ↓</p>
<%= month_calendar events: current_user.involved_screenings, attribute: :showing_start do |date, screenings| %>
  <%= date.strftime("%d") %>

  <% screenings.each do |screening| %>
    <%= link_to screening.title, screening %>
  <% end %>
<% end %>
